!**/.gitignore

# credentials
**/credentials*.*
**/credentials*
credentials*

# config files
.vscode

# docker volumes
docker/**

# database files
.latest

# images
**/*.jpg
**/*.png
**/*.gif
**/*.ico
**/*.svg
images

# python files
**/__pycache__
**/Pipfile
.pytest_cache
.venv
